.logo2{
  position:absolute;
  top:20px;
  left:20px;
  height:40px;
  overflow:hidden;
  color: #FFFFFF;
  font-size:2vw;
}

.org-name22{
    font-size:5vw;
    color:#E85A4F;
}

.about-header2{
    font-size:5vw;
    color:#E85A4F;
}

.about-descript2{
    margin-left: 5%;
    margin-right:5%
}

.img{
    width:70%;
    height:60%;
}

body{
  background-color: #EAE7DC;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    color: black;
}
.h2{
  color: #6E6658;
}
.h3 {
  color: #E98074;
}
.nav{
    background-color: #D8C3A5;
    text-align: right;
    padding: 20px;
}
.nav li {
    display: inline-block;
    margin: 0 8px;
    padding-top: 1px;
}
.nav li a{
    color: #6E6658;
    padding: 11px;
    text-decoration: none;
}
.nav li a:hover{
    background-color: white;
    color: #373737;
}

input[type=text], select, input[type=url], input[type=date]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type=text]:focus {
    border: 3px solid lightblue;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-size: 15px;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

label{
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
}

#Page3button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.styled-select {
   height: 40px;
   overflow: hidden;
   width: 100%;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100%;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.blue    { background-color: #fff; }

/* -------------------- Colors: Text */
.blue select    { color: #000; }
